{% extends "base_generic.html" %}

{% block content %}
  {% if exhibits_list %}
    <ul>
    {% for exhibit, author in exhibits_list %}
        <li><strong>{{ exhibit.tytul }}</strong>,
            {% if exhibit.autor %}
                {{ author.imie }} {{ author.nazwisko }}
            {% else %}
                Autor nieznany
            {% endif %}
        <br>
            <i>rodzaj:</i> {{ exhibit.typ }};
            <i>wymiary:</i> {{ exhibit.szerokosc }}x{{ exhibit.wysokosc }}; <i>waga:</i> {{ exhibit.waga }}kg;
            <i>stan:</i> {{ exhibit.stan }}</li>
    {% endfor %}
    </ul>
  {% else %}
      <p>Nie ma eksponatów spełniających podane kryteria. Aby zobaczyć wszystkie eksponaty pozostaw puste filtry.</p>
  {% endif %}
{% endblock %}