{% extends "base_generic.html" %}

{% block content %}
  {% if exhibitions_list %}
    <ul>
    {% for exhibition, author in exhibitions_list %}
        <li>{{ exhibition.galeria }}, {{ exhibition.sala }}: {{ exhibition.poczatek }} - {{ exhibition.koniec }}<br>
            <i>{{ exhibition.eksponat }}, {{ author.imie }} {{ author.nazwisko }}</i></li>
    {% endfor %}
    </ul>
  {% else %}
      <p>Nie ma ekspozycji spełniających podane kryteria. Aby zobaczyć wszystkie ekspozycje pozostaw puste filtry.</p>
  {% endif %}
{% endblock %}